<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  {%if user.is_authenticated %}
Logged in as {{ user.username }}
<a href="{% url 'create_todo'%}">Создать</a>
<a href="{% url 'currenttodos'%}">Текущие</a>
<a href="{% url 'completedtodos'%}">Выполненые</a>


<form action="{% url 'logout_usr'%}" method="POST">
    {% csrf_token %}

  <button type="submit">Logout</button>
</form>

{%else%}
<a href="{%url 'signup_usr'%}">Sign Up</a>
<a href="{%url 'login_usr'%}">Login</a>

{%endif%}

{% block content %} {% endblock %}
</body>
</html>
